
@{
    ViewData["Title"] = "JqueryValidation";
}
<h2>JqueryValidation</h2>
<form id="form">
    <div class="form-group">
        <label>Name </label>
        <input name="txtName" type="text" class="form-control" placeholder="Enter name">
        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
    </div>
    <div class="form-group">
        <label>Age</label>
        <input name="txtAge" type="number" class="form-control" placeholder="age">
    </div>

    <div class="form-check">
        <input name="txtLoveHusky" type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1"> love husky ?  </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



@section Scripts{
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script>
        $(function () {
            $("#form").validate({
                rules:
                {
                    txtName: { required: true, minlenght: 5, },
                    txtAge: { required: true, digits: true, range: [18, 60] }
                },
                message:
                {
                    txtName: { required: "Dien vao Truong nay", minlenght: " ngan nhat la 5 ki tu ", },
                    txtAge: { required: "Dien vao Truong nay", digits: "dien vao con so", range: "do tuoi lam viec la tu 18-60" }
                }
            });
        });
    </script>
}
