@model List<minhduc.Models.Product>;
@{
    ViewData["Title"] = "showAll";
}

<h2>@ViewData["Heading"]</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody >
    @foreach (var pro in Model) {
      <tr>
          <th scope="row">@pro.ID</th>
          <td>@pro.Name</td>
          <td>$@pro.Price</td>
      </tr>
    }
      

  </tbody>
</table>