@{
    ViewData["Title"] = "Home Page";
}
@{
    var top5GiamGia = ViewBag.Top5GiamGia;
    var top10NgauNhien = ViewBag.Top10NgauNhien;
}

<h2>Top 5 Giam Gia </h2>
<div class="row">


    @foreach (HangHoa sanpham in top5GiamGia)
    {
        await Html.RenderPartialAsync("_hanghoa", sanpham);
    }

</div>
    <h2>Top 10 Ngau Nhien</h2>
<div class="row">

    @foreach (HangHoa sanpham in top10NgauNhien)
    {
        await Html.RenderPartialAsync("_hanghoa", sanpham);
    }
</div>

    @*<div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">Note 10</div>
                    <div class="card-body">
                        <img class="img-responsive img-thumbnail" src="~/Hinh/HangHoa/_636910433858313417syrups.jpg" />
                    </div>
                    <div class="card-footer">$17.000</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">Note 10</div>
                    <div class="card-body">
                        <img class="img-responsive img-thumbnail" src="~/Hinh/HangHoa/_636910433858313417syrups.jpg" />
                    </div>
                    <div class="card-footer">$17.000</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">Note 10</div>
                    <div class="card-body">
                        <img class="img-responsive img-thumbnail" src="~/Hinh/HangHoa/_636910433858313417syrups.jpg" />
                    </div>
                    <div class="card-footer">$17.000</div>
                </div>
            </div>
        </div>*@


