@model IEnumerable<Linq.Models.HangHoaView>
@{
    ViewData["Title"] = "TimKiem";
}

<h2>TimKiem</h2>

<form asp-action="TimKiem" method="post">

    Ten Hang Hoa <input type="text" name="TenHH" value="" />
    Gia Tu <input type="number" name="GiaTu" value="" />
    Gia Den <input type="number" name="GiaDen" value="" />
    <button>Tim Kiem</button>
</form>

<table class="table table-condensed">
    <tr>
        <td>Tên</td>
        <td>Giá</td>
        <td>Hình</td>
        <td>Loại</td>
        <td>Nhà cung cấp</td>
    </tr>
    @foreach (HangHoaView hh in Model)
    {
        <tr>
            <td>@hh.TenHH</td>
            <td>@hh.DonGia</td>
            <td><img src="~/Hinh/HangHoa/@hh.Hinh" height="150" /></td>
            <td>@hh.Loai</td>
            <td>@hh.NhaCC</td>
        </tr>
    }
</table>