
@{
    ViewData["Title"] = "Personal caculator";
}

<h3>
    @ViewData["Title"];
</h3>

<div>

</div>
<form class="form" asp-action="caculate" asp-controller="Caculator" method="post">
    <div class="form-group">
        <input step="0.5" class="form-control" type="number" name="a" placeholder="Number a" value="@ViewBag.a"  />
    </div>
    <div class="form-group">
        <select name="pt" class="form-control">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="x">x</option>
            <option value=":">:</option>
        </select>
    </div>
    <div class="form-group">
        <input step="0.5" class="form-control" type="number" name="b" placeholder="Number b" value="@ViewBag.b" />
    </div>
    <div class="form-group">
        <input  class="form-control" type="submit" name="btn" value="=" />
    </div>
    <div class="form-group">
        <input disabled class="form-control" type="number" name="ketqua" value="@ViewBag.KetQua" />
    </div>
</form>
